body {
    margin: 0;
    padding: 18px 0; /* 상단과 하단 패딩만 적용 */
    background-color: white;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

html, body {
    height: 100%; /* 오버플로우 방지를 위해 100%로 조정 */
    overflow: auto; /* 필요한 경우 스크롤 허용 */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    background-color: #9d9d9d;
    color: white;
    border-radius: 2px;
}

.top-text-container {
    position: fixed; /* 상단에 고정 */
    top: -3.6px;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    z-index: 10; /* 다른 컨텐츠 위에 배치 */
    font-family: Helvetica Nue, sans-serif;
    
}

.Title {
    color: skyblue;
    position: absolute; /* 텍스트 위치 조정을 위해 */
    top: 14%; /* 화면의 중앙으로 설정 */
    left: 50%; /* 화면의 중앙으로 설정 */
    transform: translate(-50%, -50%); /* 정확한 중앙 정렬을 위해 */
    font-size: 6em; /* 글자 크기 조정 */
    font-family: Helvetica Nue, sans-serif;
    font-weight: 600;
    user-select: none;
    z-index: 4;
}

#video-background {
    position: fixed;
    right: 50;
    top: 0%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    filter: brightness(60%) blur(2px); /* Adjust brightness and blur strength as needed */
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-row-gap: 50px; 
    grid-column-gap: 10px; /* 그리드의 좌우 간격을 조절합니다. */
    justify-content: center;
    align-items: center; 
    margin-top: 230px;
}
  .grid-item {
    position: relative; /* 부모 요소에 상대적인 위치 설정 */
    text-align: center; /* 이미지를 가운데 정렬 */
  }
  
  .grid-item img {
    width: 70%; 
    height: auto; 
    border-radius: 15px;
    transition: transform .3s ease, opacity 0.2s ease; /* 이미지 크기 변경 및 투명도 변화 시 부드럽게 변화하도록 설정 */
  }
  
  .grid-item:hover img {
    transform: translateY(-10px); /* 이미지를 위로 10px 이동 */
    opacity: 0.8; /* hover 상태에서 이미지의 투명도를 줄임 */
  }
  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Helvetica", sans-serif;
    width: 200px;
    font-size: 12px;
    font-weight: 400;
    color: black;
    padding: 10px;
    border-radius: 5px;
    opacity: 0; /* 초기에는 보이지 않도록 설정 */
    transition: opacity 0.3s ease-in-out; /* 부드러운 효과를 위한 트랜지션 */
  }
  
  .grid-item:hover .caption {
    opacity: 1; /* 호버할 때 캡션을 보이도록 함 */
  }

  @media only screen and (max-width: 1024px) {
    .Title {
        font-size: 4em; /* 태블릿 화면 크기에서 글자 크기를 줄임 */
        top: 10%; /* 태블릿 화면에서 중앙으로 조정 */
    }

    .grid-container {
        margin-top: 150px; /* 태블릿 화면에서 그리드의 위쪽 여백을 줄임 */
    }

    .grid-item img {
        width: 80%; /* 태블릿 화면에서 이미지 크기를 줄임 */
    }

    .caption {
        width: 150px; /* 태블릿 화면에서 캡션의 너비를 줄임 */
    }
}

@media only screen and (max-width: 768px) {
    .Title {
        font-size: 3em; /* 모바일 화면 크기에서 글자 크기를 줄임 */
        top: 8.3%; /* 모바일 화면에서 중앙으로 조정 */
    }

    .grid-container {
        margin-top: 100px; /* 모바일 화면에서 그리드의 위쪽 여백을 줄임 */
    }

    .grid-item img {
        width: 90%; /* 모바일 화면에서 이미지 크기를 줄임 */
    }

    .caption {
        width: 120px; /* 모바일 화면에서 캡션의 너비를 줄임 */
    }
}

@media only screen and (max-width: 375px) {
    .Title {
        font-size: 2.5em; /* 모바일 화면 크기에서 글자 크기를 줄임 */
        top: 12%; /* 모바일 화면에서 중앙으로 조정 */
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
        grid-row-gap: 50px; 
        grid-column-gap: 10px; /* 그리드의 좌우 간격을 조절합니다. */
        justify-content: center;
        align-items: center; 
        margin-top: 100px;
    }

    .grid-item img {
        width: 90%; /* 모바일 화면에서 이미지 크기를 줄임 */
        border-radius: 5px;
    }

    .caption {
        width: 120px; /* 모바일 화면에서 캡션의 너비를 줄임 */
        font-size: small;
    }

    .top-text-container {
        font-size: 13px;
    }
}